.search-column {
    max-width: 800px;
    margin: auto;
}

.button {
    padding: 20px;
    background-color: blue;
    color: white;
}

#epstein-search {
    width: 85%;
    display: block;
    float: left;
    font-size: 1.1em;
    margin: 10px;
    padding: 10px;
}

#search-exec {
    width: 5%;
    display: block;
    float: left;
    margin: 10px;
    padding: 12px;
    font-size: 1.1em;
    text-align: center;
    background-color: #6184d8;
}

#search-exec:hover {
    background-color: #1f487e;
}